<footer class="footer bg-dark py-3 mt-auto">
	<!-- Makes sure that the footer is (at minimum) at the bottom of the screen. Otherwise it is at the bottom of the page. -->
	<div class="container">
		<span class="text-muted">&copy DPSIS Project Archive</span>
	</div>
</footer>