<% layout('layouts/boilerplate') %>
<div class="row">
	<div class="col-9 offset-2">

		<div class="alert alert-danger">
			<h4 class="alert-heading"><%= err.message %>!</h4>
			<p>
				<%= err.stack %>
			</p>
			<hr>
			<p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem possimus est unde nulla explicabo nemo, dicta
				necessitatibus vero suscipit optio reiciendis officiis numquam at illo! Omnis eveniet labore expedita! Officiis?</p>

		</div>
	</div>
</div>